@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.global{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/vecteezy_young-asian-businessman-working-in-a-modern-office_1226598.jpg") ;
    background-size: cover;
    height: 80em;
    
}
.assu_item{
        display: flex;
        width: 70%;
        height: 15em;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
       
}    
.item{
    width: 15em;
    height: 7em;
    clip-path: polygon(76% 0, 100% 50%, 75% 100%, 0% 100%, 20% 50%, 0% 0%);
    background-color: rgb(233, 122, 18);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 25);
}

.item, h3{
    padding-top: 20px;
    padding-left: 8px;
    color: white;
    text-align: center;
    align-items: center; 
    justify-content: center;
}

.desc_item{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 20% 50%, 0% 0%);
    background-color: rgb(236, 167, 102);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 25);
    width: 25em;
    text-align: right;
    height: 8em;
    color: white;
    font-size: 15px;
}

.desc_item, p{
    padding: 14px;
    font-size: 15px;
    color: white;
    justify-content: center;
    align-items: center;
}